# For masking database credentials
*db-creds.php

# For my project partners if they want
#+to keep testDBclass.php as a reference
#+but don't want it on the site
#+(since it serves no function anyway.)
*testDBclass.php
